<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}REMAKE!{{/if}}
	</button>

	<button class="delete-burg" data-id="{{this.id}}">DELETE!</button>
</li>
