<li style="list-style-type: none; text-align: left;">
<text id="called">{{name}} </text>
<br>
	<button id="butt" class="change-eat" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}REMAKE!{{/if}}
	</button>

	<button id="butt" class="delete-burg" data-id="{{this.id}}">DELETE!</button>
</li>
